// scss-lint:disable TrailingSemicolon
$default-font-sizes: (
  desktop: (
    small: 18px,
    base: 24px,
    large: 42px,
  ),
  mobile: (
    small: 14px,
    base: 18px,
    large: 32px,
  )
);
// scss-lint:enable TrailingSemicolon

@mixin font($size: 'base', $font-sizes: $default-font-sizes, $responsive: true) {
  $mobile-size: map-get(map-get($font-sizes, 'mobile'), $size);
  $desktop-size: map-get(map-get($font-sizes, 'desktop'), $size);

  @if ($responsive) {
    @include mobile {
      font-size: $mobile-size;
    }

    @include desktop {
      font-size: $desktop-size;
    }
  } @else {
    font-size: $desktop-size;
  }
}

@mixin single-font-size($size) {
}
