// scss-lint:disable TrailingSemicolon
$default-font-sizes: (
  desktop: (
    tiny: (
      font-size: 18px,
      line-height: 24px,
    ),
    small: (
      font-size: 18px,
      line-height: 24px,
    ),
    base: (
      font-size: 24px,
      line-height: 36px
    ),
    large: (
      font-size: 32px,
      line-height: 42px,
    )
  ),
  mobile: (
    tiny: (
      font-size: 14px,
      line-height: 24px,
    ),
    small: (
      font-size: 18px,
      line-height: 24px,
    ),
    base: (
      font-size: 18px,
      line-height: 24px,
    ),
    large: (
      font-size: 32px,
      line-height: 42px,
    ),
  )
);
// scss-lint:enable TrailingSemicolon

@mixin font($size: 'base', $font-sizes: $default-font-sizes, $responsive: true) {
  $mobile-variant: map-get(map-get($font-sizes, 'mobile'), $size);
  $desktop-variant: map-get(map-get($font-sizes, 'desktop'), $size);

  @if ($responsive) {
    @include mobile {
      @include font-properties($mobile-variant);
    }

    @include desktop {
      @include font-properties($desktop-variant);
    }
  } @else {
    @include font-properties($desktop-variant);
  }
}

@mixin font-properties($variant) {
  @each $rule, $value in $variant {
    #{$rule}: $value;
  }
}
