$color-charcoal-grey: #383f51;
$color-dodger-blue: #34bcff;
$color-light-salmon: #fea59d;
$color-slate: #535b6f;
$color-steel: #6d768c;
$color-water-blue: #149ce0;
$color-white: #fff;

$font-family: Europa, arial, sans-serif;
$font-weight: 400;
$font-weight-bold: 700;

$font-size-small: 18px;
$font-size-base: 24px;
$font-size-large: 42px;

$space-tiny: 12px;
$space-xSmall: 24px;
$space-small: 36px;
$space-base: 42px;
$space-large: 48px;
$space-xLarge: 64px;
$space-huge: 108px;
