$cage-push-right: 2 * $space-large;

$Cage-sizes: (
  small: 325px,
  base: 492px,
  large: 515px,
);

@each $name, $value in $Cage-sizes {
  .Cage.#{$name} {
    width: $value;
  }
}

.Cage {
  max-width: 100%;
}

.Cage.pushRight {
  margin-right: $cage-push-right;
}
