.Heading {
  @include font($size: 'large');

  font-weight: $font-weight;
}

.Heading.secondary {
  @include font;
}

.Heading.bold {
  font-weight: $font-weight-bold;
}

.Heading.faded {
  opacity: 0.7;
}
