$img-max-width: 264px;
$img-separator-transform: 90px;
$img-trinity-transform-small: 190px;
$img-trinity-transform-base: 280px;
$img-trinity-transform-large: 400px;

.Img {
  max-width: $img-max-width;
}
