$form-max-width: 515px;
$newsletter-submit-padding-tiny: 6px;
$newsletter-submit-padding-small: $space-xSmall;
$newsletter-submit-height: 48px;
$newsletter-submit-width: 120px;

.Newsletter-form {
  width: 100%;
  max-width: $form-max-width;

  text-align: left;
}

.Newsletter-emailLabel {
  @include font($size: 'small');

  color: $color-steel-two;

  font-family: $font-family;
}

.Newsletter-email {
  @include font($size: 'small');

  width: 100%;

  border: 0;
  border-bottom: 1px solid $color-steel-two;
  color: $color-slate;

  font-family: $font-family;

  &:focus {
    outline: none;
  }
}

.Newsletter-submit {
  text-align: right;
}

.Newsletter-submitButton {
  display: inline-block;
  box-sizing: border-box;
  width: $newsletter-submit-width;
  height: $newsletter-submit-height;
  margin: 0;
}
