.Panel.blue {
  background-image: linear-gradient(to bottom, $color-dodger-blue,
  $color-water-blue);
}

.Panel.white {
  background-color: $color-white;
  color: $color-slate;
}

.Panel.padded {
  .Panel-content {
    padding: $space-huge;
    margin: $space-xSmall;
  }
}
