$text-line-height: 1.5;

.Text {
  @include font;

  font-family: $font-family;
  line-height: $text-line-height;
}

.Text.steelTwo {
  color: $color-steel-two;
}

.Text.centered {
  text-align: center;
}
